@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
/*font-family: 'Montserrat', cursive;*/
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

/*font-family: 'Montserrat', sans-serif;
font-family: 'Lora', serif;*/
/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



a {
    font-family: 'Lora', serif;
    color: gray;
    font-size: 1.5em;
}

p {
    font-family: 'Lora', serif;
    color: black;
    font-size: 1.25em;
}

h1,
h2,
h3,
h5,
h4,
h6 {
    font-family: 'Montserrat', sans-serif;
}



/* for homepage background image*/
.landpage {

    background-image: url('../img/frame5.png');
    height: 100vh;
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;


}

.work {

    background-image: url('../img/work/pale-work-at-home.png');
    height: 100vh;
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;


}

/*.card {
    
    width: min-content;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  
}*/

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top svg {
    color: #fff;
    margin: 0;
    position: relative;
    left: 14px;
    top: 2px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover svg {
    color: #fff;
    top: 5px;
}


.otherUi img{
    height:20vh;

}
.footer_social{
    display:flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {

.socialnetwork{
    display: none;
}
.aboutme_logo{
    display:none;
}
  footer{
      font-size: 0.6em;
  }
  .introduction{
      margin-top: -15vh;
  }
 .card{
     font-size:0.6em;
 }
 h5{
     font-size:1em;
 }
  


    .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }


}