@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
/*font-family: 'Montserrat', cursive;*/
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

/*font-family: 'Montserrat', sans-serif;
font-family: 'Lora', serif;*/
/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


a {
    font-family: 'Lora', serif;
    color: gray;
    font-size: 1.5em;
}

p {
    font-family: 'Lora', serif;
    color: black;
    font-size: 1.25em;
}

h1,
h2,
h3,
h5,
h4,
h6 {
    font-family: 'Montserrat', sans-serif;
}


.landpage {

    background-image: url('../img/home2.jpg');
    height: 100vh;
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;


}

@media screen and (max-width: 768px) {



    .introduction,
    .navbar-nav {
        background-color: grey;
        opacity: 0.7;
        color: whitesmoke;
    }


    .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }


}