@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
/*font-family: 'Lobster', cursive;*/
@import url('https://fonts.googleapis.com/css?family=Lobster|Lora&display=swap');

/*font-family: 'Lobster', cursive;
font-family: 'Lora', serif;*/
/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


h6 {
    font-family: 'Lobster', cursive;
}

a,
p {
    font-family: 'Lora', serif;
}



.landpage {

    background-image: url('../img/home2.jpg');
    height: 100vh;
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;


}
@media screen and (max-width: 768px) {

    h1,
    p {
        color: whitesmoke;
    }

    .introduction {
        background-color: grey;
        opacity: 0.7;
    }
}
